<!-- ******Header****** -->
<header class="header text-center">
    <div class="container">
        <div class="branding">
            <h1 class="logo">
                <span aria-hidden="true" class="icon_documents_alt icon"></span>
                <a href="/doc"><span class="text-highlight">Docu</span><span class="text-bold">Track</span></a>
            </h1>
        </div><!--//branding-->
        <div class="tagline">
            <p>The Unique Documentation App for Developers</p>
            
        </div><!--//tagline-->
        
         <div class="main-search-box pt-3 pb-4 d-inline-block">
             <form class="form-inline search-form justify-content-center" action="" method="get">
        
                <input type="text" placeholder="Enter search terms..." name="search" class="form-control search-input">
                
                <button type="submit" class="btn search-btn" value="Search"><i class="fas fa-search"></i></button>
                
            </form>
         </div>

        
    </div><!--//container-->
</header><!--//header-->
